page-login {
    ion-label[fixed]{
        max-width:60px;
        min-width: 60px;
    }
    ion-item:first-child .item-inner{
        border-bottom:none!important;
    }
    ion-item .input-wrapper{
        border-bottom:1px solid #dedede!important;
    }
    .item-input.input-has-focus .input-wrapper{
        border-bottom:1px solid #f10215!important;
    }
     .item-input.input-has-focus,.item-input.input-has-focus .item-inner{
        box-shadow: none!important;
        border:none!important;
    } 
    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus),.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
    border-bottom-color: none!important;
    box-shadow: none!important;
    }

}
